* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

footer {
    width: 100%;
    border: 2px solid black;
    background-color: black;
}

.container {
    max-width: 1170px;
    margin-inline: auto;
    padding: 10px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.main > div {
    padding: 2rem;
    flex: 1;
}

.row-1 {
    color: white;
}

.row-1 h2 {
    position: relative;
    font-size: 22px;
}

.row-1 h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aquamarine;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.row-1 ul {
    margin-top: 20px;
    font-size: 19px;
}

.row-1 ul li {
    margin: 10px 0px;
}

.row-1 ul li a {
    color: rgb(224, 220, 220);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    
}

.row-1 ul li a:hover {
    padding-left: 10px;
    padding-bottom: 5px;
}

.row-2 {
    color: white;
}

.row-2 h2 {
    position: relative;
    font-size: 22px;
}

.row-2 h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aquamarine;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.row-2 ul {
    margin-top: 20px;
    font-size: 19px;
}

.row-2 ul li {
    margin: 10px 0px;
}

.row-2 ul li a {
    color: rgb(224, 220, 220);
    font-size: 16px;
    transition: all 0.3s ease-in-out
}

.row-2 ul li a:hover {
    padding-left: 10px;
    padding-bottom: 5px;
}

.row-3 {
    color: white;
}

.row-3 h2 {
    position: relative;
    font-size: 22px;
}

.row-3 h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aquamarine;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.row-3 ul {
    margin-top: 20px;
    font-size: 19px;
}

.row-3 ul li {
    margin: 10px 0px;
}

.row-3 ul li a {
    color: rgb(224, 220, 220);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.row-3 ul li a:hover {
    padding-left: 10px;
    padding-bottom: 5px;
}

.row-4 a {
    font-size: 22px;
    background-color: rgba(204, 198, 198, 0.363);
    border-radius: 25px;
    color: white;
    padding: 5px 6px;
    transition: all 0.4s ease-in-out;
}

.row-4 h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    position: relative;
}

.row-4 h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aquamarine;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.row-4 a:hover {
    background-color: white;
    color: black;
}


@media (max-width: 700px) {
    .main {
        flex-wrap: wrap;
        margin: 50px 40px;
    }

    .main > div {
        min-width: 100%;
    }
}